@import "./styles/normalize.css";
@import "./styles/owl.carousel.css";
@import "./styles/fonts.scss";
@import "./styles/style.scss";
@import "./styles/modules/header.scss";
@import "./styles/modules/main.scss";
@import "./styles/modules/footer.scss";
